<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868140348200-9q4k4b0e1jctl4qbgb3jeplg88fbe1vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868140348200-9q4k4b0e1jctl4qbgb3jeplg88fbe1vt</string>
	<key>API_KEY</key>
	<string>AIzaSyDLyNLyGjCj9XuRgFDwTJgWBT-0JyCPlV8</string>
	<key>GCM_SENDER_ID</key>
	<string>868140348200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.seefish</string>
	<key>PROJECT_ID</key>
	<string>seefish-12368</string>
	<key>STORAGE_BUCKET</key>
	<string>seefish-12368.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868140348200:ios:f3302ec757ccc3a774961d</string>
	<key>DATABASE_URL</key>
	<string>https://seefish-12368.firebaseio.com</string>
</dict>
</plist>